<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="icon" href="../../favicon.ico">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

    <div class="container">
      <button id="login-button" class="btn btn-default" type="button" onclick="toggleSignIn()">
    Sign in to view stream
  </button>

  <section id="add-recipe">
    <h2 class="mdl-card__title-text">
      New Recipe
    </h2>

    <form id="recipe-form" action="#">
      <div class="form-group">
        <label for="new-recipe-title">
          Recipe title...
        </label>
        <input type="text" id="new-recipe-title">
      </div>

      <div class="form-group">
        <label for="new-recipe-ing">
          Recipe ingredients...
        </label>
        <textarea rows="3" id="new-recipe-ing"></textarea>
      </div>

      <div class="form-group">
        <label for="new-recipe-inst">
          Recipe instructions...
        </label>
        <textarea rows="3" id="new-recipe-inst"></textarea>
      </div>

      <div class="form-group">
        <label for="new-recipe-notes">
          Recipe notes...
        </label>
        <textarea rows="3" id="new-recipe-notes"></textarea>
      </div>


      <button type="submit" class="btn btn-primary" onclick="handleRecipeFormSubmit()">
        Add Recipe
      </button>
    </form>
  </section>
    </div>

  </body>

</html>