<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Add A Recipe</h1>
  </div>

  <button id="login-button" class="btn btn-default" type="button" onclick="toggleSignIn()">
    Sign in to view stream
  </button>

  <section id="add-recipe">
    <h2 class="mdl-card__title-text">
      New Recipe
    </h2>

    <form id="recipe-form" action="#">
      <div class="form-group">
        <label for="new-recipe-title">
          Recipe title...
        </label>
        <input type="text" id="new-recipe-title">
      </div>

      <div class="form-group">
        <label for="new-recipe-ing">
          Recipe ingredients...
        </label>
        <textarea rows="3" id="new-recipe-ing"></textarea>
      </div>

      <div class="form-group">
        <label for="new-recipe-inst">
          Recipe instructions...
        </label>
        <textarea rows="3" id="new-recipe-inst"></textarea>
      </div>

      <div class="form-group">
        <label for="new-recipe-notes">
          Recipe notes...
        </label>
        <textarea rows="3" id="new-recipe-notes"></textarea>
      </div>


      <button type="submit" class="btn btn-default" onclick="handleRecipeFormSubmit()">
        Add Recipe
      </button>
    </form>
  </section>


</body>

</html>